<duel-modal
  [shown]="!name"
  [title]="'Enter name'"
  [canCancel]="false"
  [submitButtonText]="'Join'"
  [content]="nameModalBody"
  (onSubmit)="nameEntered()"
></duel-modal>

<ng-template #nameModalBody>
  <p>Please enter your name to join the room!</p>
  <duel-input
    (textChanged)="nameChanged($event)"
  ></duel-input>
</ng-template>

<div class="room--container">
  <duel-room-pre-game
    *ngIf="!(roomFacade.gameState$ | async)?.inProgress"
    [gameState]="roomFacade.gameState$ | async"
    (onStart)="startGame()"
  >
  </duel-room-pre-game>
  <duel-room-game-in-progress
    *ngIf="(roomFacade.gameState$ | async)?.inProgress"
    [gameState]="(roomFacade.gameState$ | async)!"
  ></duel-room-game-in-progress>
  <duel-room-uid-label [uid]="uid"></duel-room-uid-label>
</div>
