<div class="science-symbol-container">
  <img src="../../../../../assets/science/gyroscope.png" *ngIf="scienceType === 'GYROSCOPE'"/>
  <img src="../../../../../assets/science/law.png" *ngIf="scienceType === 'LAW'"/>
  <img src="../../../../../assets/science/mortar.png" *ngIf="scienceType === 'MORTAR'"/>
  <img src="../../../../../assets/science/pendulum.png" *ngIf="scienceType === 'PENDULUM'"/>
  <img src="../../../../../assets/science/quill.png" *ngIf="scienceType === 'QUILL'"/>
  <img src="../../../../../assets/science/sundial.png" *ngIf="scienceType === 'SUN_DIAL'"/>
  <img src="../../../../../assets/science/wheel.png" *ngIf="scienceType === 'WHEEL'"/>
</div>
