.brown-resource-image-container,
.gray-resource-image-container {
  &>img {
    width: 100%;
    height: 100%;
  }
}

.resource:has(.gray-resource-image-container) {
  width: 43px;
  height: 43px;

  &.small-icon {
    width: 20px;
    height: 20px;
  }

  &.medium-icon {
    width: 35px;
    height: 35px;
  }
}

.resource:has(.brown-resource-image-container) {
  width: 30px;
  height: 30px;

  &.small-icon {
    width: 15px;
    height: 15px;
  }

  &.medium-icon {
    width: 25px;
    height: 25px;
  }
}
