<!--<div class="app-all-cards">-->
<!--  <div class="app-card-container">-->
<!--    <duel-card-->
<!--      *ngFor="let card of age1Cards"-->
<!--      [card]="card"-->
<!--    ></duel-card>-->
<!--  </div>-->

<!--  <div class="app-card-container">-->
<!--    <duel-card-->
<!--      *ngFor="let card of age2Cards"-->
<!--      [card]="card"-->
<!--    ></duel-card>-->
<!--  </div>-->

<!--  <div class="app-card-container">-->
<!--    <duel-card-->
<!--      *ngFor="let card of age3Cards"-->
<!--      [card]="card"-->
<!--    ></duel-card>-->
<!--  </div>-->

<!--  <div class="app-card-container">-->
<!--    <duel-card-flipped [type]="FlippedCardType.AGE_1"/>-->
<!--    <duel-card-flipped [type]="FlippedCardType.AGE_2"/>-->
<!--    <duel-card-flipped [type]="FlippedCardType.AGE_3_PINK"/>-->
<!--    <duel-card-flipped [type]="FlippedCardType.AGE_3_PURPLE"/>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="science-tokens">-->
<!--  <duel-science-token [type]="ScienceProgressToken.AGRICULTURE" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.ARCHITECTURE" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.ECONOMY" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.LAW" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.MASONRY" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.MATHEMATICS" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.PHILOSOPHY" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.STRATEGY" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.THEOLOGY" [size]="'LARGE'"/>-->
<!--  <duel-science-token [type]="ScienceProgressToken.URBANISM" [size]="'LARGE'"/>-->
<!--</div>-->
<!--<duel-science-stage-->
<!--  [tokens]="[-->
<!--    ScienceProgressToken.ECONOMY,-->
<!--    null,-->
<!--    ScienceProgressToken.URBANISM,-->
<!--    ScienceProgressToken.THEOLOGY,-->
<!--    ScienceProgressToken.AGRICULTURE-->
<!--  ]"-->
<!--/>-->
<!--<div-->
<!--  class="looting-tokens"-->
<!--&gt;-->
<!--  <duel-looting-token [value]="5" [size]="'LARGE'"/>-->
<!--  <duel-looting-token [value]="2" [size]="'LARGE'"/>-->
<!--  <duel-looting-token [value]="5" [size]="'SMALL'"/>-->
<!--  <duel-looting-token [value]="2" [size]="'SMALL'"/>-->
<!--</div>-->
<!--<duel-army-stage-->
<!--  [tokenPosition]="0"-->
<!--  [lootingStatusA]="0"-->
<!--  [lootingStatusB]="0"-->
<!--/>-->

<!--<duel-card-stage [cards]="cardStageCards"></duel-card-stage>-->

<duel-room-container></duel-room-container>

<router-outlet></router-outlet>
