.app-all-cards {
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.app-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.looting-tokens {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
